.footer {
  position: relative;
  background-color: #111;
  color: #efefef;
  padding: 50px;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: #65b0db;
  transition: 0.3s;
}

.footer__link:hover {
  color: #efefef;
}

.footer__copyright {
  display: inline-block;
  margin: 0;
}