.player {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #111;
  z-index: 999;
  color: #f6f6f6;
}

.player__playpause {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.player__playpause:hover {
  color: rgb(255, 255, 255);
}

.player__trackbar {
  position: absolute;
  top: 10px;
  left: 40px;
  right: 35px;
  bottom: 10px;
  background-color: #222222;
  cursor: pointer;
}

.player__title {
  margin: 0 8px;
  font-size: 13px;
}

.player__album {
  font-size: 10px;
}

.player__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.player__close:hover {
  color: white;
}

.player__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(235, 204, 119);
  overflow: hidden;
  white-space: nowrap;
  color: #222;
}