.music {
  padding: 50px;
  background-color: #111;
  color: #efefef;
}

.albums {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.album:last-child {
  margin-bottom: 0;
}

.album__art {
  width: 100%;
  vertical-align: middle;
}

.album__info {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.album__title {
  margin: 0;
}

.album__year {
  margin: 0;
}