.music {
  padding: 60px;
  min-height: 600px;
  background-color: #111;
  color: #efefef;
}

.albums {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.album__art {
  width: 100%;
}