.music {
  padding: 50px;
  background-color: #111;
  color: #efefef;
  overflow-x: hidden;
}

.music__content {
  max-width: 1000px;
  margin: auto;
}

.album {
  position: relative;
  cursor: pointer;
}

.albums {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.album__art {
  position: relative;
  width: 100%;
  vertical-align: middle;
  border-radius: 3%;
  transition: 0.5s;
  z-index: 1;
}

.album:hover .album__art,
.album--open .album__art {
  opacity: 0.3;
}

.album:hover .album__record,
.album--open .album__record {
  opacity: 1;
}

.album__record {
  position: absolute;
  width: 96%;
  left: 2%;
  top: 2%;
  z-index: 1;
  transition: 0.5s;
  opacity: 0;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 7s;
  animation-name: spin;
}

.album--open .album__record {
  animation-duration: 0.75s;
}

.album__art:hover .album__record {
  opacity: 1;
}

.album__info {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.album__title {
  margin: 0;
}

.album__year {
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}