.videos {
  position: relative;
  padding: 0 65px 65px 65px;
  background-color: #65b0db;
}

.videos__header {
  display: block;
  position: relative;
  height: 300px;
  max-width: 1100px;
  margin: auto;
}

.videos__header-text {
  position: absolute;
  font-family: 'Cabin Sketch', cursive;
  font-size: 70px;
  color: #111;
  top: 100px;
  right: 50px;
  margin: 0;
}

.videos__tree {
  position: absolute;
  top: -50px;
  left: 10px;
  width: 400px;
}

.videos__tree2 {
  position: absolute;
  top: -50px;
  left: 300px;
  width: 250px;
}

.videos__list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  max-width: 1000px;
}

.videos__item {
  position: relative;
  cursor: pointer;
  border-radius: 3%;
  overflow: hidden;
  box-shadow: 0 0 3px #111;
}

.videos__thumb {
  display: block;
  width: 100%;
}

.videos__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(101, 120, 148, 0.8);
  padding: 10px;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}

.videos__overlay:hover {
  opacity: 1;
}

.videos__title {
  color: #efefef;
  font-size: 20px;
}