.videos {
  padding: 65px;
  background-color: #65b0db;
}

.videos__list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 1000px;
}

.videos__item {
  position: relative;
  cursor: pointer;
}

.videos__thumb {
  width: 100%;
  display: block;
}

.videos__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  opacity: 0;
  transition: 0.3s;
}

.videos__overlay:hover {
  opacity: 1;
}

.videos__title {
  color: #efefef;
  font-size: 20px;
}