.videos {
  position: relative;
  padding: 65px;
  background-image: url('./img/branches1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: -10px;
}

.videos__bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1e0a8;
  opacity: 0.9;
}

.videos__list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  max-width: 1000px;
}

.videos__item {
  position: relative;
  cursor: pointer;
  border-radius: 3%;
  overflow: hidden;
  box-shadow: 0 0 3px #111;
  background-size: cover;
  background-position: center;
}

.videos__placeholder {
  width: 100%;
  display: block;
}

.videos__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  opacity: 0;
  transition: 0.3s;
}

.videos__overlay:hover {
  opacity: 1;
}

.videos__title {
  color: #efefef;
  font-size: 20px;
}